<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode = "over"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#hero" (click)="drawer.close()">Inicio</a>
      <a mat-list-item href="#" (click)="drawer.close()">Servicios 2</a>
      <a mat-list-item href="#" (click)="drawer.close()">Info</a>
      <a mat-list-item href="#" (click)="drawer.close()">Contacto</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="topbar">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span class="brand">Mi landing</span>

      <span class="spacer"></span>

      <nav class="nav-links">
        <a href="#hero" mat-button>Inicio</a>
        <a href="#servicios" mat-button>Servicios</a>
        <a href="#info" mat-button>Info</a>
        <a href="#contacto" mat-button>Contacto</a>
      </nav>
    </mat-toolbar>
    <!-- Add Content Here -->
    <section id="hero" class="section hero">
      <h1>Mi pagina de landing front</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni deleniti non dicta eum aperiam accusamus quia ullam corporis odio?</p>
      <button mat-raised-button color="accent">Ver contenido</button>
    </section>

    <section id="servicios" class="section">
      <h2>Temas / servicios</h2>

      <div class="grid-cards">
        <mat-card class="mat-elevation-z2">
          <mat-card-title>Shiba Inu 1</mat-card-title>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
              Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
              was originally bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z2">
          <mat-card-title>Shiba Inu 2</mat-card-title>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
              Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
              was originally bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>

        <mat-card class="mat-elevation-z2">
          <mat-card-title>Shiba Inu 3</mat-card-title>
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
              Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
              was originally bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </section>

    <section id="info" class="section">
      <div>
        <h2>Informacion</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="image-box">
        <p>aqui va una imagen</p>
      </div>
    </section>

    <section id="contacto" class="section">
      <h2>Contacto</h2>
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Tu nombre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mensaje</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </section>

    <section class="footer">
      <p>Lorem ipsum dolor sit amet. 2026</p>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
