<form #fromRef="ngForm" (ngSubmit)="submitFrom()">
    <div>
        <input 
            type="text" 
            name="name" 
            [(ngModel)]="course.name" 
            placeholder="Nombre del curso"
            required
        />
    </div>

    <div>
        <input 
            type="text" 
            name="category" 
            [(ngModel)]="course.category" 
            placeholder="Categoría"
            required
        />
    </div>

    <div>
        <input 
            type="text" 
            name="duration" 
            [(ngModel)]="course.duration" 
            placeholder="Duración"
            required
        />
    </div>

    <div>
        <input 
            type="text" 
            name="mode" 
            [(ngModel)]="course.mode" 
            placeholder="Modalidad"
            required
        />
    </div>

    <div>
        <input 
            type="text" 
            name="teacher" 
            [(ngModel)]="course.teacher" 
            placeholder="Profesor"
            required
        />
    </div>

    <div>
        <input 
            type="text" 
            name="description" 
            [(ngModel)]="course.description" 
            placeholder="Descripción"
            required
        />
    </div>

    <button type="submit">Guardar Curso</button>
</form>
